{% extends 'base.html' %}
{% block content %}

<div class="card p-4 shadow" style="max-width:600px; margin:auto;">
    <h3>Enter Card Details</h3>
    <h5>Total: ₹ {{ total }}</h5>

    <form method="POST">
        {% csrf_token %}

        <input class="form-control mb-3" placeholder="Card Number" required>
        <input class="form-control mb-3" placeholder="Expiry Date (MM/YY)" required>
        <input class="form-control mb-3" placeholder="CVV" required>

        <button class="btn btn-success">Pay & Complete Order</button>
    </form>
</div>

{% endblock %}
